* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

nav {
	width: 100%;
	padding: 35px 10% 20px 10%;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logoLinks {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.links {
	margin-left: 30px;
}

.links a {
	margin-right: 20px;
	text-decoration: none;
}

.linksDer a {
	text-decoration: none;
}

.button1 {
	margin-left: 30px;
	padding: 8px 20px 8px 20px;
	border-radius: 30px;
	border: none;
	background-color: #2dd1d1;
	color: white;
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 0% 0px 10%;
}

header img {
	width: 800px;
	
	
}

.contTextHeader {


}



.contTextHeader h1 {
	font-size: 3em;
	line-height: 1.3;
}

.button2 {
	margin-top: 30px;
	padding: 8px 20px 8px 20px;
	border-radius: 30px;
	border: none;
	background-color: #2dd1d1;
	color: white;
}

.search {
	width: 100%;
	background-color: #f0f1f6;
	padding: 0px 10% 0px 10%;
	margin-top: 120px;
}

.contSearch {
	background-color: #3a3053;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 10px;
	background-image: url(images/bg-shorten-desktop.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	top: -60px;
}

.button3 {
	width: 150px;
	padding: 15px 0px 15px 0px;
	border-radius: 10px;
	border: none;
	background-color: #2dd1d1;
	color: white;
	margin-left: 20px;
}

.formSearch {
	/*background-color: gray;*/
	width: 95%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

}

.busc {
	width: 90%;
	height: 50px;
	border-radius: 10px;
	border: none;
	padding: 0px 20px 0px 20px;
}

.topMain {
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #f0f1f6;
}

.topMain h2 {
	text-align: center;
}

.topMain p {
	width: 450px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

main {
	width: 100%;
	padding: 60px 10% 200px 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f0f1f6;
}


.tarjeta1 {
	background-color: white;
	width: 30%;
	padding: 0px 20px 20px 20px;
}

.contImg1 {
	background-color: #3a3053;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	position: relative;
	top: -30px;
}

.contImg1 img {
	width: 32px;
}

.tarjeta2 {
	background-color: white;
	width: 30%;
	padding: 0px 20px 20px 20px;
	position: relative;
	top: 50px;
}

.contImg2 {
	background-color: #3a3053;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	position: relative;
	top: -30px;
}

.contImg2 img {
	width: 32px;
}


.tarjeta3 {
	background-color: white;
	width: 30%;
	padding: 0px 20px 20px 20px;
	position: relative;
	top: 100px;
}

.contImg3 {
	background-color: #3a3053;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	position: relative;
	top: -30px;
}

.contImg3 img {
	width: 32px;
}

.preFooter {
	width: 100%;
	padding: 40px 10% 40px 10%;
	background-image: url(images/bg-boost-desktop.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #3a3053;
}

.contPreFooter {
	margin: auto;
	/*background-color: red;*/
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contPreFooter h2 {
	text-align: center;
	color: white;
}

.button4 {
	margin-top: 20px;
	padding: 8px 20px 8px 20px;
	border-radius: 30px;
	border: none;
	background-color: #2dd1d1;
	color: white;

}

footer {
	width: 100%;
	padding: 40px 10% 20px 10%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	background-color: black;
}

.contList {
	display: flex;
	justify-content: space-between;
	width: 40%;
}

.contList ul li {
	list-style: none;
	margin-top: 10px;
	color: white
}

.bold {
	font-weight: bold;
}

.social img {
	margin-left: 10px;
}


@media screen and (max-width: 680px) {
	footer {
		flex-direction: column;
	}

	.social {
		margin-top: 40px;
	}

	.contList {
		margin-top: 30px;
	}
}


@media screen and (max-width: 990px) {

	.contList {
		flex-direction: column;
	}

}

@media screen and (max-width: 376px) {
	.contPreFooter {
		width: 100%;
	}

	
}

@media screen and (max-width: 830px) {
	main {
		flex-direction: column;
	}

	.tarjeta1 {
		width: 100%;
	}

	.tarjeta2 {
		width: 100%;
	}

	.tarjeta3 {
		width: 100%;
	}
}


@media screen and (max-width: 330px) {
	.formSearch {
		flex-direction: column;
	}

	.button3 {
		margin-top: 20px;
	}


}

@media screen and (max-width: 540px) {
	.topMain p {
		width: 100%;
	}

}


@media screen and (max-width: 1132px) {
	header {
		flex-direction: column;
		padding-right: 10%;
		margin-top: 50px;
	}

	header img {
		width: 100%;
		position: relative;
		left: 0px;
		margin-top: 10px;
	}

	.contTextHeader {
		padding-right: 0;
	}
}



@media screen and (max-width: 700px) {
	nav {
		flex-direction: column;
	}

	.logoLinks {
		flex-direction: column;
	}

	.links {
		margin: 20px 0px 20px 0;
	}

	.links a {
		display: block;
		margin-bottom: 20px;
	}

	.contTextHeader h1 {
		font-size: 2em;
	}
}

@media screen and (max-width: 200px) {
	.linksDer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.button1 {
		margin-left: 0;
		margin-top: 20px;
	}
}